.main {
	margin: auto;
	padding-top: 70px;
}

.contentBox {
	margin:auto;
	max-width:1024px;
	width: 95%;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px silver;
}

.content {
	width: 90%;
	padding: 4% 0px 4% 0px;
	margin: auto;
	text-align: left;
	color: #ececec;
	font-family: 'Karla', sans-serif;
}

.sectionTitles {
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	border-color: silver;
}

.logo {
	max-height: 50px;
	max-width: 50px;
	float: left;
}

.skillLogo {
	max-height: 50px;
	max-width: 50px;
}

.companyName {
	font-size: 18px;
	display: block;
	font-style: italic;
	margin-bottom: 2px;
}

.titleName {
	font-size: 18px;
}

.dateWorked {
	font-size: 18px;
	float: right;
}

.skillsUsed {
	margin-bottom: 25px;
}

.focusSelect {
	font-size: 16px;
	padding-bottom: 15px;
}

.school {
	padding-bottom: 15px;
}

.schoolDescription {
	margin-left: 65px;
	margin-bottom: 15px;
}