.main {
	margin: auto;
	padding-top: 70px;
}

.contentBox {
	margin:auto;
	max-width:1024px;
	width: 95%;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px silver;
}

.sectionTitles {
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	border-color: silver;
}

.logo {
	max-height: 50px;
	max-width: 60px;
	float: left;
	margin-top: 4px;
}

.skillLogo {
	max-height: 50px;
	max-width: 50px;
}

.companyName {
	font-size: 18px;
	display: block;
	font-style: italic;
	margin-bottom: 2px;
}

.titleName {
	font-size: 18px;
}

.dateWorked {
	font-size: 16px;
	float: right;
	margin-bottom: 0;
}

.skillsUsed {
	margin-bottom: 25px;
}

.focusSelect {
	font-size: 18px;
	padding-bottom: 15px;
}

.radioButtons {
	display: inline-block;
}

.education {
	margin: auto;
}

.school {
	padding-bottom: 15px;
	margin: auto;
}

.schoolDescription {
	margin-left: 65px;
}

.degree {
	font-size: 16px;
	display: block;
	
}

.schoolName {
	font-size: 18px;
	letter-spacing: 3px;
}

.schoolLocation {
	font-size: 16px;
}

.dateAttended {
	font-size: 16px;
	float: right;
}

.coursework {
	font-size: 16px;
}

.courseworkList {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.companyDescription {
	font-size: 16px;
}

@media screen and (max-width: 1024px) {
	.schoolName {font-size: 15px; letter-spacing: 0px;}
	.schoolLocation {font-size: 14px;}
	.dateAttended {font-size: 15px;}
	.degree {font-size: 14px;}
	.coursework { font-size: 14px;}
	.companyName {font-size: 16px;}
	.companyDescription {font-size: 14px;}
	.dateWorked {font-size: 14px;}
	.titleName {font-size: 14px;}
}