.sectionTitles {
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	border-color: silver;
	margin-bottom: 15px;
}

.logo {
	max-height: 50px;
	max-width: 60px;
	margin: auto;
	display: block;
}

.skillLogo {
	max-height: 50px;
	max-width: 50px;
}

.companyName {
	font-size: 18px;
	display: block;
	font-style: italic;
	margin-bottom: 2px;
}

.titleName {
	font-size: 18px;
}

.dateWorked {
	font-size: 16px;
	float: right;
	margin-bottom: 0;
}

.focusSelect {
	font-size: 18px;
	padding-bottom: 15px;
}

.radioButtons {
	display: inline-block;
}

.education {
	margin: auto;
	margin-top: 15px;
}

.school {
	padding-bottom: 15px;
	margin: auto;
}

.schoolDescription {
}

.degree {
	font-size: 16px;
	display: block;
	text-align: center;
	
}

.schoolName {
	font-size: 18px;
	letter-spacing: 3px;
	display: block;
	text-align: center;
	margin-top: 5px;
}

.dateAttended {
	font-size: 16px;
	display: block;
	text-align: center;
}

.coursework {
	font-size: 16px;
	display: block;
	margin: auto;
}

.courseworkList {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.companyDescription {
	font-size: 16px;
	margin-bottom: 5px;
}

.skill {
	font-size: 12px;
	border: solid;
	border-radius: 2px;
	border-color: silver;
	border-width: 1px;
	margin-right: 5px;
	padding: 2px;
	white-space: nowrap;
}

.skillsTitle {
	font-size: 16px;
}

.skillsUsed {
	margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
	.schoolName {font-size: 15px; letter-spacing: 0px;}
	.schoolLocation {font-size: 14px;}
	.dateAttended {font-size: 15px;}
	.degree {font-size: 14px;}
	.coursework { font-size: 14px;}
	.companyName {font-size: 16px;}
	.companyDescription {font-size: 14px;}
	.dateWorked {font-size: 14px;}
	.titleName {font-size: 14px;}
	.skillsTitle {font-size: 14px;}
}